<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>新闻文本分类系统</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/assets/css/form-elements.css">
        <link rel="stylesheet" href="../static/assets/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span class="li-text">
								您可以到
							</span> 
							<a href="https://news.sina.com.cn/" target="_blank"><strong>新浪新闻</strong></a> 
							<span class="li-text">
								复制新闻信息用于本系统预测 
							</span> 
							
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1 ><strong style="color:	#FF8C00">新闻</strong> 文本分类系统</h1>
                            <div class="description">
                            	<p>
	                            	人大-大数据模型作业-刘丹丹-2023-12-15
                            	</p>
                            </div>
                        </div>
                    </div>
					 <div class="row">
						<div class="col-sm-8 col-sm-offset-2 ">
							<div id="news" class="form-top">
								<div class="form-top-left">
									<h3>请输入一段新闻</h3>
									<p>本系统使用TextRCNN模型</p>
								</div>
								
							</div>
							<div class="form-bottom contact-form">
								<form role="form">
									<div class="form-group">
										<label class="sr-only" for="contact-message">Message</label>
										<textarea id="text_message" name="message" placeholder="输入..." class="contact-message form-control" ></textarea>
									</div>
									

								</form>
								<div style="float:left"><button class="btn" id="classify" onclick="submit()">查看分类</button></div>
								<div><h3 style="color:#DC143C" id="result"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></h3></div>
							</div>
							
							
							
						</div>
						
					
                    </div>
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="../static/assets/js/jquery-1.11.1.min.js"></script>
        <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/assets/js/jquery.backstretch.min.js"></script>
        <script src="../static/assets/js/retina-1.1.0.min.js"></script>
        <script src="../static/assets/js/scripts.js"></script>
		<script>
		 /* function submit()
		{
		document.getElementById("result").innerHTML="<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新闻</strong>";
		}*/
		 function submit(){
		 document.getElementById("result").innerHTML="<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加载中...</strong>";
			$.ajax({
				  type: 'POST',
				  url: "./text_predict",
				  contentType: "application/json",
				  data: JSON.stringify({"content":$(" #text_message ").val()}),
				  dataType: "text",//期待返回的数据类型
				  success: function(data){
					var str = "<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+data+"</strong>"
					document.getElementById("result").innerHTML=str;
				  },
				  error:function(data){
					document.getElementById("result").innerHTML="<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;连接网络超时!</strong>";
				  }
				})
		
		//alert(JSON.stringify({"content":$(" #text_message ").val()}));
		
		  }
		</script>
        
        <!--[if lt IE 10]>
            <script src="../static/assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>