<!DOCTYPE html>
<html>
<head th:replace="include :: common_header(~{::title},~{},~{::style})">
	<meta charset="utf-8">
	<title>用户提问历史-汉雅AI智能处理平台</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="http://osshanyaxining.oss-cn-beijing.aliyuncs.com/pic/mgr.ico">
	<style>
		.layui-form-radio{
			line-height:27px !important;
		}
	</style>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
	<div class="searchTable layui-form layui-form-pane">
		<div class="layui-form-item layui-form">
			<label class="layui-form-label">用户名</label>
			<div class="layui-input-inline">
				<input type="text" name="userName" id="userName"
					   class="layui-input">
			</div>
			<label class="layui-form-label">AI类型</label>
			<div class="layui-input-inline">
				<select id="reqType" name="reqType">
					<option value="">请选择</option>
					<option value="1">智能问答</option>
					<option value="2">智能软文</option>
				</select>
			</div>
			<shiro:hasPermission name="sys:log:search">
				<button class="layui-btn" data-type="reload">
					<i class="layui-icon">&#xe615;</i>搜索
				</button>
				<button class="layui-btn" data-type="res">
					<i class="layui-icon">&#xe9aa;</i>重置
				</button>
			</shiro:hasPermission>
		</div>
	</div>
</blockquote>
<table class="layui-table" lay-filter="tb"
	   lay-data="{url:'/gpt/history/list', page:true, cellMinWidth: 80, limit:10, id:'historyTable', skin: 'row', method:'post',even: true}">
	<thead>
	<tr>
		<th lay-data="{type:'radio',field:'id'}"></th>
		<th lay-data="{field:'userName', width:150}">用户名</th>
		<th lay-data="{field:'businessId', width:150}">业务编号</th>
		<th lay-data="{field:'question'}">问题</th>
		<th lay-data="{field:'reqType', width:150,templet: '#reqTypeTpl'}">类型</th>
		<th lay-data="{field:'createTime', width:180 ,templet: '#createTimeTpl'}">创建时间</th>
		<th
				lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#oper'}">操作
		</th>
	</tr>
	</thead>
</table>
<script type="text/html" id="createTimeTpl">
	{{DateUtils.formatDate(d.createTime)}}
</script>
<script type="text/html" id="reqTypeTpl">
	{{#  if(d.reqType === 2){ }}
	<span style="color: #1E9FFF;">智能软文</span>
	{{#  } else { }}
	<span style="color: #FFB800;">智能问答</span>
	{{#  } }}
</script>
<script type="text/html" id="oper">
	{{#  if(d.isRecommend == null || d.isRecommend == 0){ }}
	<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="recommend"><i class="layui-icon">&#xe642;</i>推荐</a>
	{{#  } else { }}
	<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="delRecommend"><i class="layui-icon">&#xe642;</i>取消推荐</a>
	{{#  } }}
</script>
<script>
    var table,form;
    layui.config({
                     base : "res/"
                 }).use(['table','form','element'],function(){
        table = layui.table,form = layui.form;
        var $ = layui.$, active = {
            reload: function(){
                var userName = $('#userName');
                var reqType = $('#reqType');
                //执行重载
                table.reload('historyTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        userName: userName.val(),
                        reqType: reqType.val(),
                    }
                });
            },
            res: function(){
                $('#userName').val("");
                $('#reqType').val("");
                form.render('select');
                //执行重载
                table.reload('historyTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {

                    }
                });
            }
        };
        $('.searchTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            if(type=='add'){

            }
            active[type] ? active[type].call(this) : '';
        });

        table.on('tool(tb)', function(obj){
            var layEvent = obj.event;
            if(layEvent == 'recommend'){
                layer.confirm('确定推荐本条数据吗？',{icon:3, title:'提示信息'},function(index){
                    var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
                    $.get('/gpt/history/recommend?id='+obj.data.id, function(data){
                        top.layer.close(index);
                        if(data.code ==0){
                            location.reload();
                        }else{
                            top.layer.msg(data.msg);
                        }
                    });
                });
            }else if(layEvent=='delRecommend'){
                layer.confirm('确定取消本条数据推荐吗？',{icon:3, title:'提示信息'},function(index){
                    var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
                    $.get('/gpt/history/delRecommend?id='+obj.data.id, function(data){
                        top.layer.close(index);
                        if(data.code ==0){
                            location.reload();
                        }else{
                            top.layer.msg(data.msg);
                        }
                    });
                });
            }
        });






    });

    function getCheckData(){
        var checkStatus = table.checkStatus('historyTable')
            ,data = checkStatus.data;
        return data;
    }
</script>
</body>
</html>